{% extends "base_generic.html" %}

{% block content %}
    <h1><strong>Author:</strong> <a href="">{{author.last_name }},{{ author.first_name }}</a></h1>
    <p>Date of Birth:{{ author.date_of_birth }}</p>
    <p>Date of Death:{{ author.date_of_death }}</p>

    <div style="...">
    <h2>Books</h2>
    <dl>
        {%  for book in author.book_set.all %}
        <dt><a href="{% url 'author-detail' book.pk %}">{{ book }}</a> ({{ book.bookinstance_set.allcount }}</dt>
        <dd>{{ book.summary }}</dd>
        {%  endfor %}
    </dl>

    </div>
{% endblock %}


